html {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	background-color: #f8f8f8;
	color-scheme: light dark;
	
	--link-color: #006DEA;
	--link-visited-color: #A6669F;
	--secondary-color: #666;
	--border-color: #ddd;
	--highlight-color: #f3f3f3;
}
body {
	margin: 0;
	padding: 0 1rem;
}
a:link {
	color: var(--link-color);
	text-decoration: none;
}
a:link:hover {
	text-decoration: underline;
}
a:visited {
	color: var(--link-visited-color);
}
hr {
	border-width: 0;
	border-bottom: 1px solid var(--border-color);
}
blockquote {
	padding-left: 1em;
	margin: 0;
	color: var(--secondary-color);
	border-left: 0.25em solid var(--border-color);
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.25;
}
h1 {
	font-size: 1.5em;
	margin-bottom: 0px;
}
h2 {
	font-size: 1.25em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: 0.875em;
}
h6, figcaption {
	font-size: 0.85em;
	color: var(--secondary-color);
}
ul, ol {
	padding-left: 2em;
}
ol ol, ul ol {
	list-style-type: lower-roman;
}
ul ul, ul ol, ol ol, ol ul {
	margin-top: 0;
	margin-bottom: 0;
}
ul ul ol, ul ol ol, ol ul ol, ol ol ol {
	list-style-type: lower-alpha;
}
dl {
	padding: 0;
}
dl dt {
	padding: 0;
	font-size: 1em;
	font-style: italic;
	font-weight: 600;
}
dl dd {
	padding: 0 16px;
	margin-left: 0;
}
table {
	display: block;
	width: 100%;
	overflow: auto;
	border-spacing: 0;
	border-collapse: collapse;
}
th {
	font-weight: 600;
	background-color: var(--highlight-color);
}
th, td {
	padding: 6px 13px;
	border-width: 0;
}
tr:nth-child(2n) {
	background-color: var(--highlight-color);
}
img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
code, pre {
	font-family: Monaco, Consolas, monospace;
	font-size: 85%;
	border-radius: 3px;
	background-color: var(--highlight-color);
}
code {
	padding: 0.2em 0 0.2em 0;
}
pre {
	padding: 16px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	line-height: 1.45;
}

@media (min-width: 480px) {
	blockquote {
		margin: 0 1em;
	}
}

@media (min-width: 44rem) {
	body {
		max-width: 44rem;
		margin: 0 auto;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #111;
		color: #fff;
		
		--link-color: #23a6ff;
		--link-visited-color: #A6669F;
		--secondary-color: #bbb;
		--border-color: #666;
		--highlight-color: #333;
	}
}